<!DOCTYPE html>
<html class="{% block html_class %}{{html_class}}{% endblock %}">
<head>
    <meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>{%- block title -%}{{title + ' | ' if title}}{%- endblock %}{{config.CONFIG_DB.brand_name}}</title>
    <link href="{{ url_for('rss') }}" rel="alternate" title="Recent Changes" type="application/atom+xml">
	<link rel="stylesheet" href="//www.google.com/cse/style/look/default.css" type="text/css" />
    # block seo
    <meta name="keywords" content="{{config.CONFIG_DB.keywords}}" />
    <meta name="description" content="{{config.CONFIG_DB.description}}" />
    # endblock seo
    {{config.CONFIG_DB.head_metas|safe if config.CONFIG_DB.head_metas}}
    {{renderStyle('blog')}}
    # block head
    # endblock
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
    <header class="doc">
		<div id="hd-top">
			<p>
				<span class="chevron_white"></span>
				<span class="attrtxt">{{ config.CONFIG_DB.sub_name }}</span>
			</p>
		</div>
		<div id="hd-middle">
			# include 'theme/default/_user.html'
			<div id="cse" class="b-shadow"><div style="text-align:right;">Loading Search Engine...</div></div>
			<hgroup>
				<h1><a href="/" title="{{ config.CONFIG_DB.brand_name }}"><img src="/images/logo.png" alt="" /></a></h1>
				<h2><em title="{{ config.CONFIG_DB.sub_name }}"></em></h2>
			</hgroup>
		</div>
		<div class="split-h-1"></div>
		<div class="split-h-2"></div>
    </header>
    <div id="bd" role="main" class="round10">
	    # block content
	    # endblock
	</div>    
    <footer class="doc">
		<p style="float:right;"><a href="#top"> Top&uarr;</a></p>
		<p style="color:gray;">
			&copy; 2014 dig-music.com
			<a href="{{url_for('rss')}}" target="_blank"><img src="/images/rss_16x16.png" alt="rss feed" title="subscrib" /></a>
			<!-- <a href="http://fusion.google.com/add?source=atgs&feedurl=http%3A//feedproxy.feedburner.com/dig-music/wzy"><img src="http://gmodules.com/ig/images/plus_google.gif" border="0" alt="Add to Google"></a> -->
			<br/>
			Powered by <a href="http://flask.pocoo.org/" target="_blank" title="Flask">Flask</a> 
			&
			<a href="http://code.google.com/appengine/" target="_blank" rel="nofollow">Google App Engine</a>
			&
			<a href="https://gae-init.appspot.com/" target="_blank">gae-init</a>
			Theme by <a href="http://www.dig-music.com" target="_blank" title="walker">walker</a>
			<br/>
			Version: {{config.CURRENT_VERSION_NAME}}
        	(<time datetime="{{config.CURRENT_VERSION_DATE}}">{{config.CURRENT_VERSION_DATE}}</time>)
		</p>
    </footer>
{{renderScript('cmslib')}}
{{renderScript('cms')}}
<script src="//www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript"> 
  google.load('search', '1', {language : 'en'});
  google.setOnLoadCallback(function() {
    var customSearchControl = new google.search.CustomSearchControl('007947657040434990891:sfmiwosst6g');
    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
    var options = new google.search.DrawOptions();
    options.setAutoComplete(true);
    customSearchControl.draw('cse', options);
  }, true);
</script>
# block footjs
# endblock
# include 'bit/analytics.html'
</body>
</html>
